[submodule "Caravel-Tests"]
	path = Caravel-Tests
	url = https://github.com/merledu/Caravel-Tests
[submodule "fpnew"]
	path = fpnew
	url = https://github.com/pulp-platform/fpnew.git
[submodule "src/fpnew"]
	path = src/fpnew
	url = https://github.com/pulp-platform/fpnew.git
